<form class="orgdev flexcol">
  <div class="header">
    <h3>{{localize
        (concat "KNW.Organization." options.statGroup ".label")
      }}</h3>
  </div>
  {{#each stats}}
    <div class="statrange">
      <div class="statheader">
        <span class="label">{{this.label}}</span>
        <input
          type="number"
          name={{concat this.name ".start"}}
          value={{this.development.start}}
        />
        <input
          type="number"
          name={{concat this.name ".spec"}}
          value={{this.development.spec}}
        />
      </div>
      {{rangePicker
        name=(concat this.name ".points")
        value=this.development.points
        min=0
        max=@root.max
        step=1
      }}
    </div>
  {{/each}}
</form>