<form class="flexcol">
  <div class="header flexrow">
    <img
      class="profile"
      src="{{actor.img}}"
      data-tooltip="{{actor.name}}"
      data-edit="img"
    />
    <div class="flexcol">
      <input
        class="name"
        type="text"
        name="name"
        value="{{actor.name}}"
        placeholder="{{localize 'DND5E.Name'}}"
      />
      <div class="orgDetails flexrow">
        <input
          type="text"
          name="system.org.type"
          value="{{system.org.type}}"
          placeholder="{{localize 'KNW.Organization.Type'}}"
        />
        <input
          type="text"
          name="system.org.specialization"
          value="{{system.org.specialization}}"
          placeholder="{{localize 'KNW.Organization.Specialization'}}"
        />

      </div>
    </div>
  </div>
  <div class="body flexrow">
    <div class="skills flexcol">
      <h2>{{localize "KNW.Organization.Skills.Label"}}</h2>
      {{#each skills}}
        <div class="skill flexrow">
          {{numberInput this.value name=(concat "system." @key)}}
          <div 
            class="label {{#if @root.editable}} rollable {{/if}}" 
            data-target="{{@key}}"
          >
            {{this.label}}
          </div>
        </div>
      {{/each}}
    </div>
    <div class="powerPool">
      <h2>{{localize "KNW.Organization.Powers.Pool"}}</h2>
      <ol class="powerPoolList">
        {{#each powerPool}}
          <li class="flexrow" data-id="{{this.id}}">
            <div class="name">
              {{this.name}}
            </div>
            <div
              class="powerDie {{#if @root.editable}} rollable {{/if}}"
              data-tooltip="{{localize 'KNW.Organization.Powers.Roll'}}"
            >
              {{this.value}}
            </div>
            <div class="edit flexrow">
              <a class="add"><i class="fas fa-plus"></i></a>
              <a class="subtract"><i class="fas fa-minus"></i></a>
              <a class="delete"><i class="fas fa-trash"></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
    <div class="defenses flexcol">
      <h2>{{localize "KNW.Organization.Defenses.Label"}}</h2>
      <div class="size flexrow">
        <div class="label">
          {{localize "KNW.Organization.Size"}}
        </div>
        {{numberInput system.size class="value" name="system.size" max=5 min=1}}
        <img
          class="powerDie"
          src="{{powerDieIMG}}"
          data-tooltip="{{localize 'KNW.Organization.Power.Die'}}"
        />
      </div>
      {{#each defenses}}
        <div class="defense flexrow">
          <div class="label">
            {{this.label}}
          </div>
          {{numberInput
            this.score
            class="value"
            name=(concat "system." @key ".score")
          }}
          <select class="level" name="{{concat 'system.' @key '.level'}}">
            {{selectOptions
              this.choices
              selected=this.level
              nameAttr="value"
              labelAttr="label"
              localize=true
            }}
          </select>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="footer flexrow">
    <div class="powers">
      <div class="footerHeader flexrow">
        <h3>{{localize "KNW.Organization.Powers.Label"}}</h3>
        {{#if editable}}
          <a class="item-control item-edit" data-target="powers">
            <i class="fas fa-edit"></i>
          </a>
        {{/if}}
      </div>
      <ul class="powersList">
        {{#each system.sortedPowers}}
          <li class="power">
            <strong>{{this.label}}.</strong>
            {{this.description}}
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="features">
      <div class="footerHeader flexrow">
        <h3>{{localize "KNW.Organization.Features.Label"}}</h3>
        {{#if editable}}
          <a class="item-control item-edit" data-target="features">
            <i class="fas fa-edit"></i>
          </a>
        {{/if}}
      </div>
      <ul class="featuresList">
        {{#each system.sortedFeatures}}
          <li class="feature">
            <strong>{{this.label}}.</strong>
            {{this.description}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</form>