<form class="flexcol">
  <div class="header flexrow">
    <img
      class="profile"
      src="{{actor.img}}"
      data-tooltip="{{actor.name}}"
      data-edit="img"
    />
    <div class="flexcol">
      <input
        class="name"
        type="text"
        name="name"
        value="{{actor.name}}"
        placeholder="{{localize 'DND5E.Name'}}"
      />
      <div class="orgDetails flexrow">
        <input
          type="text"
          name="system.org.type"
          value="{{system.org.type}}"
          placeholder="{{localize 'KNW.Organization.Type'}}"
        />
        <input
          type="text"
          name="system.org.specialization"
          value="{{system.org.specialization}}"
          placeholder="{{localize 'KNW.Organization.Specialization'}}"
        />

      </div>
    </div>
  </div>
  <div class="body flexrow">
    <div class="skills flexcol">
      <div class="skillHeader flexrow">
        <h2>{{localize "KNW.Organization.skills.label"}}</h2>
        {{#if editable}}
          <div class="editScore">
            <a data-target="skills"><i class="fas fa-edit"></i></a>
          </div>
        {{/if}}
      </div>
      {{#each skills}}
        <div class="skill flexrow">
          {{!-- <div class="value">{{numberFormat this.value sign=true}}</div> --}}
          {{!-- {{numberInput
            this.bonus
            class="value"
            name=(concat "system.skills." this.key ".bonus")
          }} --}}
          <input
            type="text"
            value="{{numberFormat this.bonus sign=true}}"
            class="value"
            name="{{concat 'system.skills.' this.key '.bonus'}}"
            data-dtype="Number"
          />
          {{#if @root.editable}}
            <div class="label rollable" data-target="{{this.key}}">
              <a>{{this.label}}</a>
            </div>
          {{else}}
            <div class="label" data-target="{{this.key}}">
              {{this.label}}
            </div>
          {{/if}}
        </div>
      {{/each}}
    </div>
    <div class="powerPool">
      <h2>{{localize "KNW.Organization.Powers.Pool"}}</h2>
      <ol class="powerPoolList">
        {{#each powerPool}}
          <li class="powerPoolMember flexrow" data-id="{{this.id}}">
            <div class="name">
              {{this.name}}
            </div>
            {{#if @root.editable}}
              <div class="powerDie rollable" data-tooltip="{{this.tooltip}}">
                <a>{{{this.value}}}</a>
              </div>
              <div
                class="edit flexrow"
                data-tooltip="{{localize 'KNW.Organization.Powers.Decrement'}}"
              >
                {{{this.decrement}}}
              </div>
            {{else}}
              <div class="powerDie" data-tooltip="{{this.tooltip}}">
                {{{this.value}}}
              </div>
            {{/if}}
          </li>
        {{/each}}
      </ol>
    </div>
    <div class="defenses flexcol">
      <div class="defHeader flexrow">
        <h2>{{localize "KNW.Organization.defenses.label"}}</h2>
        {{#if editable}}
          <div class="editScore">
            <a data-target="defenses"><i class="fas fa-edit"></i></a>
          </div>
        {{/if}}
      </div>
      <div class="defense flexrow">
        <div class="label">
          {{localize "KNW.Organization.Size"}}
        </div>
        {{numberInput system.size class="value" name="system.size" max=5 min=1}}
        <img
          class="powerDie"
          src="{{powerDieIMG}}"
          data-tooltip="{{localize 'KNW.Organization.Powers.Die'}}"
        />
      </div>
      {{#each defenses}}
        <div class="defense flexrow">
          <div class="label">
            {{this.label}}
          </div>
          {{numberInput
            this.score
            class="value"
            name=(concat "system.defenses." this.key ".score")
          }}
          {{!-- <div class="value">{{this.score}}</div> --}}
          <select
            class="level"
            name={{concat "system.defenses." this.key ".level"}}
          >
            {{selectOptions
              this.choices
              selected=this.level
              nameAttr="value"
              labelAttr="label"
              localize=true
            }}
          </select>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="footer flexrow">
    <div class="powers">
      <div class="footerHeader">
        <h3>{{localize "KNW.Organization.Powers.Label"}}</h3>
      </div>
      <div class="footerBody">
        {{editor
          system.powers
          button="false"
          target="system.powers"
          engine="prosemirror"
          collaborate=true
        }}
      </div>
    </div>
    <div class="features">
      <div class="footerHeader">
        <h3>{{localize "KNW.Organization.Features.Label"}}</h3>
      </div>
      <div class="footerBody">
        {{editor
          system.features
          button="false"
          target="system.features"
          engine="prosemirror"
          collaborate=true
        }}
      </div>
    </div>
  </div>
</form>