<form class='{{cssClass}} flexcol'>
  <div class='header flexrow'>
    <div class='type'>
      <img class='typeImage' src='{{typeImage}}' />
    </div>
    <div class='description flexcol'>
      <div class='id flexrow'>
        <img
          class='profile'
          src='{{actor.img}}'
          data-tooltip='{{actor.name}}'
          data-edit='img'
        />
        <input
          type='text'
          name='name'
          value='{{actor.name}}'
          placeholder='{{localize "DND5E.Name"}}'
        />
      </div>
      <div class='tags flexcol'>
        <div class='commander'>
          <label class='flexrow'>
            <span class='label'>{{localize
                'KNW.Warfare.Commander.Label'
              }}</span>
            <span class='name' data-id='{{system.commander}}'>
              {{system.commanderName}}
            </span>
          </label>
        </div>
        <div class='modifiers flexrow'>
          <select class='experience' name='system.experience'>
            {{selectOptions
              choices.EXPERIENCE
              selected=system.experience
              localize=true
            }}
          </select>
          <select class='gear' name='system.gear'>
            {{selectOptions choices.GEAR selected=system.gear localize=true}}
          </select>
          <input
            class='ancestry'
            type='text'
            name='system.ancestry'
            value='{{system.ancestry}}'
            placeholder='{{localize "KNW.Warfare.Ancestry"}}'
          />
          <select class='type' name='system.type'>
            {{selectOptions
              choices.TYPE
              labelAttr='label'
              selected=system.type
              localize=true
            }}
          </select>
        </div>
      </div>
    </div>
    <div class='size flexcol'>
      <div class='flexcol'>
        {{numberInput system.size.value name='system.size.value' min=0}}
        <div class='divider'></div>
        {{numberInput system.size.max name='system.size.max' min=0}}
      </div>
      <span class='label'>{{localize 'KNW.Warfare.Size'}}</span>
    </div>
  </div>
  <div class='statistics flexrow'>
    <div
      class='attacks'
      data-tooltip='{{localize "KNW.Warfare.Statistics.attacks.long"}}'
    >
      {{numberInput system.attacks name='system.attacks' min=0}}
    </div>
    {{#each coreStats}}
      <div class='coreStat flexcol'>
        <div class='label {{this.rollable}}' data-target='{{@key}}'>
          {{#if this.rollable}}<a>{{this.label}}</a>
          {{else}}{{this.label}}
          {{/if}}
        </div>
        <div class='value'>
          <input
            type='text'
            name='system.{{@key}}'
            value={{this.value}}
            data-dtype='Number'
          />
        </div>
      </div>
    {{/each}}
  </div>
  <div class='footer flexrow'>
    <div class='damage'>
      <label>
        {{numberInput system.dmg name='system.dmg' min=0}}
        <p class='label'>
          {{localize 'KNW.Warfare.Statistics.dmg.abbr'}}
        </p>
      </label>
    </div>
    <div class='addOns'>
      <nav class='sheet-navigation tabs' data-group='primary'>
        <a class='label' data-tab='traits'>{{localize
            'KNW.Warfare.Traits.SheetLabel'
          }}</a>
        <a class='label' data-tab='items'>{{localize 'DOCUMENT.Items'}}</a>
        <a class='label' data-tab='effects'>{{localize
            'DOCUMENT.ActiveEffects'
          }}</a>
      </nav>
      <section class='tabs-body'>
        <div class='tab' data-group='primary' data-tab='traits'>
          <ul class='traitList'>
            {{#each traits as |trait|}}
              <li>{{trait}}</li>
            {{/each}}
          </ul>
        </div>
        <div class='tab' data-group='primary' data-tab='items'>
          <ul class='itemList'>
            {{#each items as |item|}}
              <li class='item flexrow' data-id='{{item._id}}'>
                <div class='item-name flexrow'>
                  <img class='item-image' src='{{item.img}}' />
                  <h4>{{item.name}}</h4>
                </div>
                <div class='item-controls flexrow'>
                  {{! TODO: Re-enable after D&D 2.5 }}
                  {{! <a
                    class='item-control'
                    data-action='edit'
                    data-tooltip='DND5E.ItemEdit'
                  >
                    <i class='fas fa-edit'></i>
                  </a> }}
                  <a
                    class='item-control'
                    data-action='delete'
                    data-tooltip='DND5E.ItemDelete'
                  >
                    <i class='fas fa-trash'></i>
                  </a>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
        <div class='tab' data-group='primary' data-tab='effects'>
          <ul class='effectList'>
            {{#each effects as |effect|}}
              <li class='effect flexrow' data-id='{{effect._id}}'>
                <div class='effect-name flexrow'>
                  <!-- TODO: v12 update to effect.img -->
                  <img class='effect-image' src='{{effect.icon}}' />
                  <h4>
                    {{#unless effect.disabled}}
                      <strong>
                        {{effect.name}}
                      </strong>
                    {{else}}
                      {{effect.name}}
                    {{/unless}}
                  </h4>
                </div>
                <div class='effect-controls flexrow'>
                  <a
                    class='effect-control'
                    data-action='toggle'
                    data-tooltip='DND5E.EffectToggle'
                  >
                    {{#if effect.disabled}}
                      <i class='fas fa-check'></i>
                    {{else}}
                      <i class='fas fa-times'></i>
                    {{/if}}
                  </a>
                  <a
                    class='effect-control'
                    data-action='edit'
                    data-tooltip='DND5E.EffectEdit'
                  >
                    <i class='fas fa-edit'></i>
                  </a>
                  <a
                    class='effect-control'
                    data-action='delete'
                    data-tooltip='DND5E.EffectDelete'
                  >
                    <i class='fas fa-trash'></i>
                  </a>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      </section>
    </div>
    <div class='tier'>
      <label>
        <select name='system.tier'>
          {{selectOptions choices.TIER selected=system.tier}}
        </select>
        <p class='label'>{{localize 'KNW.Warfare.Tier'}}</p>
      </label>
    </div>
  </div>
</form>